@model RetailSales.Models.Employee

@{
    ViewData["Title"] = "Employee ";

}
<partial name="JqxGridPartial" />
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            @*  <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li> *@
            <li class="active"> <strong>Employee </strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/Employee/MyListEmployeegrid",
            data: {
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'empid', type: 'string' },
                { name: 'ename', type: 'string' },
                { name: 'gender', type: 'string' },
                { name: 'mobile', type: 'string' },
                { name: 'email', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },

            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '75%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                //theme: 'fresh',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,

                columns: [

                    { text: 'Employee No', filtertype: 'checkedlist', datafield: 'empid', width: 150 },
                    { text: 'Employee Name', filtertype: 'input', datafield: 'ename', width: 250 },
              
                    { text: 'Mobile', filtertype: 'input', datafield: 'mobile', width: 150 },
                   

                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 90 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 90 },
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });

</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <br />
                        <div class="row">
                       <div class="col-md-2 ">
                            @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                            { new SelectListItem() {Text = "Enabled", Value="Y"},
                            new SelectListItem() {Text = "Disabled", Value="N"}},
                            new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                        </div>
                            <div class="col-md-9 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("Employee", "Employee")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Employee </a>
                                    <br>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-12 ">
                                <div id="grid">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>


