@model RetailSales.Models.CGroup

@{
    ViewData["Title"] = "Customer Group";

}
<partial name="JqxGridPartial" />
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="~/jqwidgets/jqxcore.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            @*  <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li> *@
            <li class="active"> <strong>Customer Group </strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "MyListCGroupgrid",
            data: {
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'category', type: 'string' },
                { name: 'des', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },


            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                theme: 'ui-start',
                //showfilterrow: true,
                //theme: 'fresh',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,

                columns: [

                    { text: 'Customer Category', filtertype: 'checkedlist', datafield: 'category', width: 200 },
                    { text: 'Description', filtertype: 'input', datafield: 'des', width: 200 },
                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });

</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <br />
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                         { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                         new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div>
                            <div class="col-md-9 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("CGroup", "CGroup")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Customer Group </a>
                                    <br>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-12 ">
                                <div id="grid">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>


