@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
  <head>
   
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <title>Retail Sales</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/echart.css">
   @*  <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/date-picker.css"> *@
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css" />

   @* <link rel="stylesheet" type="text/css" href="~/assets/css/Tab.css" />*@
   

    <!-- Plugins css Ends-->

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">
    <link href="~/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
   @* <link href="~/assets/css/jquery-ui.css" rel="stylesheet">*@
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/sidebar.css">
     
    <!-- theme css -->
    <link href="~/jqwidgets/styles/jqx.fresh.css" rel="stylesheet">
  </head>


  <body> 
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="loader"> 
        <div class="loader4"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
    

          
       
       


    <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/select2.min.js"></script>
    <!-- Bootstrap js-->
        <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    @* <script src="~/assets/js/sidebar-pin.js"></script> *@
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
@*    <script src="~/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/assets/js/chart/echart/esl.js"></script>
    <script src="~/assets/js/chart/echart/config.js"></script>
    <script src="~/assets/js/chart/echart/pie-chart/facePrint.js"></script>
    <script src="~/assets/js/chart/echart/pie-chart/testHelper.js"></script>
    <script src="~/assets/js/chart/echart/pie-chart/custom-transition-texture.js"></script>
    <script src="~/assets/js/chart/echart/data/symbols.js"></script>*@
    <!-- calendar js-->
    @* <script src="~/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="~/assets/js/datepicker/date-picker/datepicker.custom.js"></script> *@
   @* <script src="~/assets/js/dashboard/dashboard_3.js"></script>*@
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>
  @*  <script src="~/assets/js/theme-customizer/customizer.js"></script>*@

        <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

        <script type="text/javascript">
            $('.form_date').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });


        </script>
        <script type="text/javascript">
         
            function isNumeric(keyCode) {
                return ((keyCode >= 48 && keyCode <= 57) || keyCode == 37 || keyCode == 39 || keyCode == 46 || keyCode == 8 || keyCode == 9 || (keyCode >= 96 && keyCode <= 105));
            }

            function isNumeric2(keyCode, e) {
                //alert(keyCode);
                return ((keyCode >= 48 && keyCode <= 57) || keyCode == 37 || keyCode == 39 || keyCode == 46 || keyCode == 8 || keyCode == 9 || keyCode == 190 || keyCode == 110 || (keyCode >= 96 && keyCode <= 105));
            }

            function checkLength(el) {
                if (el.value.length != 10) {
                    alert("Length must be exactly 10 characters")
                }
            }
        </script>
        <!-- latest jquery-->


        <div class="page-body">
            <div class="container">
                <main role="main" class="pb-3">
                        @await RenderSectionAsync("Scripts", required: false)
                    @RenderBody()
                </main>
            </div>
        </div>


    </div>
    
  
  </body>
</html>